.clients {
  padding: 160px 0 120px;
  background-color: var(--color-light);
  &__title {
    margin-bottom: 60px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    gap: 102px;
  }
  &__link {
    &:focus {
      outline-offset: 2px;
      outline: 2px solid var(--color-primary);
    }
  }
}
