.decisions {
  padding: 65px 0 80px;
  background-color: #f4f5f7;
  .grid {
    @include tablet {
      display: block;
    }
  }
  &__left {
    grid-column: 5 span;
    img {
      margin-bottom: -142px;

      @include tablet {
        margin-bottom: 0;
      }
    }

    @include tablet {
      text-align: center;
    }
  }
  &__right {
    grid-column: 7 span;
    padding-left: 104px;

    @include tablet {
      padding: 20px 0 0;
    }
  }
  &__title {
    margin-bottom: 62px;
  }
  &__item {
    position: relative;
    font-size: 16px;
    line-height: 160%;
    color: var(--colo-gray);
    padding-left: 37px;

    &::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 0;
      width: 20px;
      height: 20px;
      background-image: url("../img/decisions-check.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @include mobile {
    padding: 50px 0;
  }
}
