.facts {
  position: relative;
  overflow: hidden;
  padding: 180px 0 80px;
  padding-bottom: 100px;
  background-color: var(--color-light);
  &:before {
    content: "";
    position: absolute;
    left: -9px;
    top: -195px;
    width: 570px;
    height: 1065px;
    background-image: url("../img/facts-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &__title {
    margin-bottom: 62px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 48px;
    max-width: 736px;
    margin: 0 auto;
  }
}
.facts-element {
  &__circle {
    --progress-stroke: #000;
    --progress-bg-opacity: 0.3;
    position: relative;
    width: 148px;
    height: 148px;
    margin-bottom: 18px;
    svg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    .progress {
      stroke: var(--progress-stroke);
      transform: rotate(-90deg) translateX(20px);
      transform-origin: center;
    }
    .progress-bg {
      stroke: var(--progress-stroke);
      opacity: var(--progress-bg-opacity);
    }
    &--color-one {
      --progress-stroke: #f89828;
    }
    &--color-two {
      --progress-stroke: #f52f6e;
    }
    &--color-three {
      --progress-stroke: #5a87fc;
    }
    &--color-four {
      --progress-stroke: #03cea4;
    }
  }
  &__value {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    color: var(--color-ebony);
  }
  &__text {
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-ebony);
  }
}
