.header {
  padding: 23px 0 21px;
  &__container {
    @include flex-v-center;
  }
  &--main {
    background-color: var(--color-light);
  }
  &--secondary {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  &__nav {
    margin: 0 auto 0 60px;
  }
}
.logo {
  &:focus {
    outline-offset: 2px;
    outline: 2px solid var(--color-primary);
  }
}
