.page-hero {
  min-height: 600px;
  padding: 153px 0 80px;
  background-color: var(--color-athens);
  background-position: right -8px top;
  background-repeat: no-repeat;
  &__breadcrumbs {
    margin-bottom: 40px;
  }
  &__title {
    max-width: 600px;
    font-weight: 700;
    font-size: 72px;
    line-height: 130%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--color-ebony);
    margin: 0;
    margin-bottom: 24px;
  }
  &__description {
    max-width: 600px;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-storm);
    margin: 0;
  }
  &--services {
    background-image: url("../img/services-hero-bg.png");
  }
  &--service {
    background-image: url("../img/service-hero-bg.png");
  }
}
