.page-hero {
  min-height: 600px;
  padding: 153px 0 80px;
  background-color: var(--color-athens);
  background-position: right -8px top;
  background-repeat: no-repeat;
  &__breadcrumbs {
    margin-bottom: 40px;
  }
  &__title {
    max-width: 600px;
    font-weight: 700;
    font-size: 72px;
    line-height: 130%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--color-ebony);
    margin: 0;
    margin-bottom: 24px;
    &--small {
      font-size: 64px;
      line-height: 120%;
      text-transform: initial;
    }
    &--mb {
      margin-bottom: 60px;
    }
  }
  &__description {
    max-width: 600px;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-storm);
    margin: 0;
  }
  &--services {
    background-image: url("../img/services-hero-bg.png");
  }
  &--service {
    background-image: url("../img/service-hero-bg.png");
  }
  &--work {
    background-image: url("../img/work-hero-bg.png");
  }
  &--work-inner {
    background-color: var(--color-light);
    background-image: url("../img/work-inner-hero-bg.png");
    background-position: right -8px top 48px;
  }
  &--about {
    background-image: url("../img/about-hero-bg.png");
  }
  &--positions {
    background-image: url("../img/positions-hero-bg.png");
    background-position: right -9px bottom;
  }
  &--news {
    background-image: url("../img/news-hero-bg.png");
  }
}
