.comments {
  padding: 83px 0 80px;
  &__title {
    margin-bottom: 55px;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 58px;
    }
  }

  @include minitablet {
    padding: 40px 0 40px;
  }
}
