.slider-nav {
  @include flex-v-center;
  position: relative;
  z-index: 15;
  user-select: none;
  &__btn {
    @include flex-all-center;
    height: 48px;
    width: 48px;
    border-radius: 100%;
    color: var(--color-gray);
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    svg {
      width: 24px;
      height: 24px;
      object-fit: cover;
      color: inherit;
      fill: currentColor;
    }
    &:focus {
      outline-offset: 2px;
      outline: 2px solid var(--color-primary);
    }
    &:hover {
      color: var(--color-light);
      background-color: var(--color-primary);
    }
    &:active {
      color: var(--color-light);
      background-color: var(--color-active);
    }
  }
}
.slider-nav__btn.swiper-button-disabled {
  opacity: 0.4;
  pointer-events: none;
}
