<section class="partners partners--about">
  <div class="container">
    <h2 class="title title--center partners__title">Our partners</h2>
    <p class="description description--center partners__description">
      We are supported by 12+ industry bodies and media partners
    </p>
    <ul class="list-reset partners__list">
      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__logo" src="img/partners/partner-1.png" alt="" />
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__logo" src="img/partners/partner-2.png" alt="" />
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__logo" src="img/partners/partner-3.png" alt="" />
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__logo" src="img/partners/partner-4.png" alt="" />
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__logo" src="img/partners/partner-5.png" alt="" />
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__logo" src="img/partners/partner-6.png" alt="" />
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__logo" src="img/partners/partner-7.png" alt="" />
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__logo" src="img/partners/partner-8.png" alt="" />
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__logo" src="img/partners/partner-9.png" alt="" />
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#">
          <img
            class="partners__logo"
            src="img/partners/partner-10.png"
            alt=""
          />
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#">
          <img
            class="partners__logo"
            src="img/partners/partner-11.png"
            alt=""
          />
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#">
          <img
            class="partners__logo"
            src="img/partners/partner-12.png"
            alt=""
          />
        </a>
      </li>
    </ul>
  </div>
</section>
